<table>
<% _.each(data, function(val, key) { %>
    <tr>
        <td>
            <%= key %>
        </td>
        <td>
            <div class="costAmount money"><%= val %></div>
            <input class="costEdit" type="text" name="<%= key %>" value="$<%= d3.format(",f")(val) %>" style="display:none" />
        </td>
    </tr>
<% }); %>

    <tr class="monthlyTotal">
        <td>
            Monthly Total
        </td>
        <td class="money">
            $<%= d3.format(",f")(monthly) %>
        </td>
    </tr>
    <tr class="annualTotal">
        <td>
            Annual Total
        </td>
        <td class="money">
            $<%= d3.format(",f")(annual) %>
        </td>
    </tr>
</table>