<table>
<% _.each(data, function(val, key) { %>
    <tr>
        <td>
            <%= key %>
        </td>
        <td class="money">
            <%= val %>
        </td>
    </tr>
<% }); %>

    <tr class="monthlyTotal">
        <td>
            Monthly Total
        </td>
        <td class="money">
            <%= monthly %>
        </td>
    </tr>
    <tr class="annualTotal">
        <td>
            Annual Total
        </td>
        <td class="money">
            <%= annual %>
        </td>
    </tr>
</table>