
/* positions */
.position {
    display: inline-block;
    margin: 10px;
}

.positionBase {
    font-size: 1.25em;
}

/* svg */

.tick text {
    font-size: .75em;
    color: #666;
}
.domain {
    fill: none;
    stroke: #666;
}

.dotHover {
    opacity: 0;
    cursor: pointer;
}

.d3-tip {
    background-color: rgba(0, 0, 0, .65);
    padding: 5px 10px;
    color: #fff;
    font-size: .85em;
    border-radius: 3px;
}

.proposalYear, .proposalRate {
    font-size: 1em;
    font-weight: 600;
}
