* {
    font-family: Times New Roman;
    font-size: 1em;
    
}


#container {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  color: #555;
}

/*
  header
*/
#header {
  border-bottom: 3px double #666;
  width: 900px;
  /*text-align: center;*/
  /*padding-bottom: 20px;*/
  padding: 5px 20px;
  margin-bottom: 20px;
}

#header h2 {
  text-align: center;
}

#header p {
  text-align: justify;
}

/*
  content
*/
#costsContainer, #proposalsContainer {
    width: 450px;
    float: left;
}

#positionsContainer {
    /*width: 800px;*/
    /*text-align: center;*/
    float:left;
    margin-top: 10px;
    /*margin-right: auto;
    margin-left: auto;*/
}

#chart {
    width: 600px;
    height: 400px;
    float: left;
}

#legend {
    width: 300px;
    height: 100px;
    float: left;
}

/* table */
#costsContainer table {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  text-align: center;
}

#costsContainer td {
  padding: 2px 15px;
}

/* costs */
h4 {
  font-family: Helvetica;
}

h4.costLabel, h4.proposalLabel {
  text-align: center;
}

/* proposals */
.BARTcolor {
  font-family: Helvetica;
  color: #2667B7;
}

.UnionColor {
  font-family: Helvetica;

  color: #F48512;
}

#monthSelect {
  margin-top: 10px;
}

#proposalContainer {
  width: 400px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* positions */

.position {
    cursor: pointer;
    margin: 2px 0;
}

.position:hover {
  border-bottom: 2px solid #F48512;
}

.money {
    /*font-size: 1.15em;*/
    font-family: Helvetica;
    font-weight: 600;
}

.showing {
    border-bottom: 2px solid #2667B7;
    /*font-size: 1.15em;
    color: #2667B7;*/
}

.employeePosition {
    font-family: Helvetica;
    border-bottom: 2px solid #2667B7;
}

/* chart */
#chartContainer h4, #chartContainer p {
  text-align: center;
  margin-bottom: 5px;
}


/* footer */
#footer {
  float: left;
  width: 900px;
  text-align: center;
  border-top: 1px dashed #666;
  padding-top: 50px;
  padding-bottom: 100px;
}

#contact {
  padding-top: 50px;
}

.fbImg {
  width: 70px;
  border-radius: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.name {
  font-size: 1.25em;
  margin: 10px;
}
.name a {

  color: #666;
  text-decoration: underline;
}
.socialImg {
  width: 25px;
  border-radius: 3px;
}

/* svg */

.tick text, .axisTitle {
    font-size: .75em;
    color: #666;
}
.domain {
    fill: none;
    stroke: #666;
}

.dotHover {
    opacity: 0;
    cursor: pointer;
}

.d3-tip {
    background-color: rgba(0, 0, 0, .65);
    padding: 5px 10px;
    color: #fff;
    font-size: .85em;
    border-radius: 3px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.65);
  position: absolute;
}

.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

.proposalYear, .proposalRate, .proposalAmount {
    font-size: 1.1em;
    font-weight: 600;
}
